<div class="row">
  <div class="col-xs-6 col-xs-offset-3 card-border">
    <% if @cocktail.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @cocktail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :attachinary %>
    <%= f.button :submit, class:"btn btn-success mybtn" %>
    <% end %>
  </div>
</div>
