<div id="cocktail" class="container">
    <h1>Here the composition for a:</h1>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <%= render 'shared/card', cocktail: @cocktail %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 list-items">
      <% @cocktail.doses.each do |dose| %>
      <li class="display-list">
        <div class="">
          <% unless dose.ingredient.nil? %> <%= dose.ingredient.name %> : <% end %> <b> <%= dose.description %>  </b>
        </div>
        <div class="btn-margin-right">

          <%= link_to dose_path(dose), method: :delete do %>
          <i class="fa fa-times" aria-hidden="true"></i>
          <% end %>
        </div>
      </li>
      <% end %>
    </div>
  </div>
  <%# link_to "Add a new dose for " + @cocktail.name, new_cocktail_dose_path(@cocktail), class:"btn btn-success" %>
  <%= link_to "Delete cocktail", cocktail_path(@cocktail), method: :delete, class:"btn btn-danger mybtn btn-margin-top" %>
  <%= render 'doses/form' %>
  <%= link_to "Back to cocktails", cocktails_path, class:"btn btn-primary mybtn btn-margin-top" %>
</div>
